@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}

.content ul {
    padding: 0.5rem 0 1rem 1em;
    margin: 0 0 0 0.5em;
}

.content ul li {
    padding: 0.15rem 0;
    list-style: disc;
}
